$individual-committee-image-width-ratio: 249px / 373px;

$row-items: 4;
$row-items-palm: 2;
$row-items-thumb: 1;
$first-row-items: 2;
$first-row-items-palm: 2;
$first-row-items-thumb: 1;

$high-priority-member: josh;

$committee-members: (
    daniel,
    elle,
    ted,
    ellie,
    lizzie,
    izaak,
    nick,
    kayleigh,
    lara,
    david,
    johannes,
    james,
    edward,
    robert,
    amy,
    lisa,
    danielle,
    matt,
    sofia,
    addy,
    keerthi,
    josh,
);