html {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    background: rgb(28, 28, 28) !important;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
#main {
    width: min(800px, 100%);
    padding: 0 2rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white !important;
}

a {
    color: inherit;
}

#apply-now {
    width: 100%;
    display: flex;
    justify-content: center;
}
#apply-now a {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    transition: transform 0.1s ease-in-out 0s;
    color: rgb(22 255 160);
}
#apply-now a:hover {
    transform: scale(1.1);
}

.worker-disclaimer {
    font-weight: bold;
}
.warning {
    color: rgb(255, 80, 80);
}