body {
	position:relative;
	width:100%;
	height:100%;
	font-family:Baskerville,Georgia,serif;
	background:#000;
	color:#FFF;
	min-width: 800px;
	margin:0px;
}
div#main_wrapper{
	//background-image: url("../res/background.png");
	background-color: black;
	background-repeat:repeat;
	height:700px;
	width:100%;
	background-position: center center;
}
div#main {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../res/main_grad.png");
    background-position: 0 0;
    background-repeat: repeat;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    position: relative;
    width: 800px;
	z-index:1;
	text-align: center;
}
div#footer_wrapper {
    width: 100%;
	text-align:center;
	    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../res/base_rep.png");
    background-position: 0 0;
    background-repeat: repeat;
    height: 200px;
    position: absolute;
	bottom:0px;
}
div#top{
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../res/top_rep.png");
    background-position: 0 0;
    background-repeat: repeat;
    height: 200px;
    position: absolute;
    width: 100%;
}

div#footer_message{
	margin-top:190px;
}
div#title {
    height: 50px;
    width: 100%;
	/*background-image: url("../res/logo.png");*/
}
div#descrip {
   height: 30px;
   width: 100%;
   padding-bottom: 40px;
}
h1{
	text-align: center;
	font-family: serif;
	font-size: 46px;
}
h2{
	text-align: center;
	font-family: serif;
	font-size: 30px;
}
h4{
	font-size: 18px;
	padding: 0;
	margin: 0;
}
div#content{
	text-align:center;
	font-size: 16px;
    line-height: 20px;
    width: 100%;
    overflow: auto;
}
div#left, div#right, div#center{
	float: left;
	width: 32%;
}

div#left{
    margin-left: 2%;
    margin-right: 0;
}
div#right{
    margin-left: 0;
    margin-right: 2%;
}
div#centre{
    margin-left: 0;
    margin-right: 0;
}

div#archive{
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

div#ents{
	width: 100%;
	padding-top: 5px;
	text-align: center;
}

div#clock{
	display: inline-block;
	width: 600px;
	padding-top: 20px;
	padding-bottom: 0px;
}

a:link, a:active, a:visited {
color:#fff;
font-weight:bold;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

/*div#ents {
position:absolute;
right:10px;
top:10px;
width:100px;
border:1px solid;
}*/
