input {
	font-size: 300%;
}

body {
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	text-align: center;
}

h1 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 5em;
	color: grey;
}
form {
	text-align: center;
}